[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
streamlit = "*"
textblob = "*"
bokeh = "*"
gtts = "*"
spacy = "2.2.2"
pt-core-news-sm = "2.2.5"


[requires]
python_version = "3.6"
